.header {
  padding: 1vw;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #e2e2e1;
  .each-post {
    background-color: #fbfbfb;
    padding: 0 20px;
    width: 40vw;
    max-width: 400px;
    text-align: left;
    margin: 15px;
    border-radius: 10px;
    color: #9a9da0;
    cursor: pointer;
    .post-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: start;
      margin: 10px 0;
    }
    .post-desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: start;
      margin: 15px 0;
    }
  }
}


@media only screen and (max-width: 600px) {
  .posts {
    .each-post {
      width: 75vw;
    }
  }
}
